* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lora", serif;
  color: var(--fontColor);
  background-color: var(--mainBg);
}

.header-list {
  background: var(--headerBg);
  display: flex;
  height: 100px;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-item {
  list-style: none;
}
li:nth-child(1) {
  margin-left: 2rem;
}
li:nth-child(2) {
  flex-basis: 60%;
  margin: 0 3rem;
}
li:nth-child(3) {
  margin: 0 1.5rem;
}
li:nth-child(4) {
  margin: 0 1.5rem;
}
li:nth-child(5) {
  margin: 0 2rem 0 0;
}
input[type="checkbox"] {
  position: relative;
  width: 60px;
  height: 30px;
  -webkit-appearance: none;
  background: #c6c6c6;
  border-radius: 20px;
  transition: 0.5s;
  margin: 0 0.4rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
input:checked[type="checkbox"] {
  background: #03a9f4;
}
input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
input:checked[type="checkbox"]:before {
  left: 30px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--searchBg);
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 1rem var(--boxShadowColor);
}
.inputValue {
  color: var(--fontColor);
}
input {
  margin: 0 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--searchBg);
}
::placeholder {
  color: var(--placeholderColor);
}

.daily-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.weather-info {
  margin-top: 4rem;
}
.weather-info__description {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
}
.weather-info__city {
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
}
.weather-info__date {
  font-size: 1.2rem;
}
.weather-info__time {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.weather-info__temperature {
  font-weight: 650;
  font-size: 5rem;
}
.weather-detailed-info {
  margin-top: 4rem;
}
.weather-details {
  display: flex;
  margin-bottom: 3rem;
}
.weather-details__icon {
  width: 3rem;
  margin-right: 1rem;
}
.weather-details__label {
  font-weight: 600;
}
.weather-details__data {
  font-size: 2.1rem;
}
.weather-icon {
  margin-top: 2rem;
  text-align: center;
}

.card {
  width: 350px;
  height: 550px;
  background-image: var(--cardImage);
  padding: 2rem;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}
.card:hover {
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.table {
  border-collapse: collapse;  
  margin: 10rem auto;
  width: 85%;
  border: 1px solid var(--mainBg);
  border-radius: 5px;
}
.table th {
  background-color: var(--thCellColor) ;
  font-size: 1.4rem;
  padding: 1.2rem 1.35rem;
  
  text-align: center;
}
.table td {
  padding: 0.6rem 0.8rem;
  text-align: center;
  font-size: 1.1rem;
}
.table tbody tr:nth-child(even) {
  background-color: var(--tdOddColor);
}


.imgIcon {
  height: 3rem;
  width: 3rem;
}
#imgRemove {
  font-size: 0px;
  
}

/*RESPONSIVEE*/
@media all and (max-width: 747px) {
  .header-list {
    flex-wrap: wrap;
    height: 150px;
  }
  li:nth-child(1) {
    margin-left: 2rem;
  }
  li:nth-child(2) {
    order: 5;
    width: 100%;
    margin: 1.5rem auto;
  }
  li:nth-child(3) {
    order: 2;
  }
  li:nth-child(4) {
    order: 3;
  }
  li:nth-child(5) {
    order: 4;
  }
}
@media (max-width: 747px) {
  .forecast {
    margin-top: 6rem;
  }

  .table thead {
    display: none;
  }
  .table tbody {
    width: 80%;
    margin: auto;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
  }

  .table tr {
    margin-bottom: 1.2rem;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 12.8px;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: left;
  }
  .table td:nth-child(2)::before {
    opacity: 0;
  }
  .table td:nth-child(2) {
    text-align: center;
    padding: 0;
  }
}
:root {
  /* white to black */
  --white1: #ffffff;
  --white2: #fbfbfb;
  --white3: #f2f2f2;
  --white4: #ebebeb;
  --white5: #e4e3e2;
  --white6: #cdcecd;
  --white7: #bfc1c0;
  --white8: #8a8a8a;
  /* white to black */
  --black8: #6e6e6e;
  --black7: #4f4f50;
  --black6: #434444;
  --black5: #373737;
  --black4: #2e2e2e;
  --black3: #222222;
  --black2: #141414;
  --black1: #000000;

  /* light blue to blue */
    --blue1: #E5F0F9;
    --blue2: #D8E7F8;
    --blue3: #B1CEF0;
    --blue4: #8AB6E9;
    --blue5: #67A9ED;

  --darkerblue5:#1E63B8;
  --darkerblue4:#325A9F;
  --darkerblue3:#2F5392;
  --darkerblue2:#2A487F;
  --darkerblue1 :#013D63;

}

.light-theme {
  --fontColor: var(--black1);
  --headerBg: var(--white2);
  --mainBg: var(--white3);
  --iconColor: var(--black1);
  --searchBg: var(--blue1);
  --placeholderColor: var(--black6);
  --boxShadowColor: var(--white7);
  --thCellColor : var(--blue2);
  --tdOddColor : var(--white4);
  --cardImage : linear-gradient(to right top, var(--blue1), var(--blue2),var(--blue3),var(--blue4));
}
.dark-theme {
  --fontColor: var(--white1);
  --headerBg: var(--black2);
  --mainBg: var(--black3);
  --iconColor: var(--white1);
  --searchBg: var(--darkerblue1);
  --placeholderColor: var(--white6);
  --boxShadowColor: var(--black7);
  --thCellColor : var(--darkerblue2);
  --tdOddColor : var(--black4);
  --cardImage : linear-gradient(to right top, var(--blue4), var(--darkerblue1),var(--darkerblue2),var(--darkerblue5));
}
